.modal {
  position: absolute;
  top: 20%;
  left: calc(50% - 75px);
  width: 300px;
  height: 150px;
  background: #fff;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px lightgray solid;
  border-radius: 15px;
}

.modal--button-wrapper {
  width: 100%;
  display: flex;
  margin: 2rem;
  justify-content: space-evenly;
  align-items: center;
}
